<%- include('partials/header') -%>
    <div class="box" id="heading">
        <h1>Todo Lists</h1>
    </div>
    <div>
        <% showLists.forEach(function(newList){ %>
            <div class="box">
                <h2>
                    <%= newList.title %>
                </h2>
                <h3>
                    <%= newList.createdAt.toString().slice(-53, -42) %>
                </h3>
                <form action="/list/<%=newList.id%>">
                    <button type="submit">View List</button>
                </form>
            </div>

            <% }) %>
    </div>
    <div class="box">
        <div id="heading">
            <h1 style="margin: 0%; padding-top: 15px; padding-bottom: 15px;">Make a New List!</h1>
        </div>
        <form onsubmit="setTimeout(function(){window.location.reload();},10);" class="item" action="/" method="post">
            <input type="text" id="title" name="title" placeholder="New List" autocomplete="off">
            <button id="addItem" type="submit">+</button>
        </form>
    </div>

    <%- include('partials/footer') -%>