<%- include("partials/header") -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle.title %>
    </h1>
  </div>

  <div class="box">

    <% newListItems.forEach(function(newItem){ %>
      <form action="/delete" method="post">

        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=newItem.id%>" onChange="this.form.submit()">
          <p>
            <%= newItem.item %>
          </p>
        </div>

        <input type="hidden" name="listName" value="<%=listTitle%>"></input>

      </form>
      <% }); %>

        <form onsubmit="setTimeout(function(){window.location.reload();},10);" data-path="<%=path%>" class="item" action="/list" method="post">
          <input type="text" id="item" name="item" placeholder="New Item" autocomplete="off">
          <input type="text" class="hidden" id="listId" name="listId" value="<%=listId%>">
          <button type="submit" value="<%=listTitle.title%>">+</button>
        </form>
  </div>

  <%- include("partials/footer") -%>